{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <h1>Poll Events</h1>
    <hr>

    <div class="row">
        {% for poll in poll_events %}
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{poll}}</h5>
                        <p class="card-text">{{poll.description}}</p>
                        
                        
                        <a href="{% url 'home:poll' poll_id=poll.getSignedID %}" class="btn btn-danger">Vote</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}